*{
	margin:0;
	padding:0;	
}
body{
	display:flex;
	align-items:center;
	justify-content:center;
	background-color:beige;
	height:100vh;
	
}
.container{
	
	padding:50px;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	background-color:cyan;
	gap:10px;
	border-radius:10px;
	color:white;
}
a{
	text-decoration:none;
	
}
